.footer-divisor {
    color: #FAE2E2;
    border-top: 5px solid;
    opacity: 1;
}

footer {
    color: white;
    background-color: #F25252;
    text-align: center;
}

/*.color.navbar {
    background-color: ;
}*/

#descripcion-sitio {
    margin: 20px;
    text-align: justify;
}


.iconos {
    color:white;
    font-size: 32px;
    margin: 5px;
}

.iconos:hover {
    color: #F6C270;
}